@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --branco-principal: #ffffff;
  --cinza-segundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-fundo: #00030c;
  --fonte-principal: "Inter", sans-serif;
  --botao-azul-efeito: #176ace;
}

body {
  background-color: var(--cor-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}

.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__caixa {
  margin: 0 6rem;
}

.container__titulo {
  font-size: 1.75rem;
  font-weight: 700;
}

.container__imagem {
  margin: 1rem 0 2rem 0;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1rem;
}

.container__botao:hover {
  background-color: var(--botao-azul-efeito);
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: 0.75rem;
  color: var(--cinza-segundario);
}

.secundario {
  align-items: center;
  margin: 0 10rem;
}

.secundario__imagem {
  width: 80%;
}

.descricao__titulo {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

.descricao__texto {
  color: var(--cinza-segundario);
}

.container__descricao {
  padding: 2rem;
}

.secundario__botao {
  display: inline-block;
  margin-top: 1rem;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 3rem;
  color: var(--branco-principal);
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5rem 0;
}

.lista__item {
  font-size: 2rem;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin: 5rem 3rem;
}

.rodape__logo {
  margin: 2.5rem 0;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1rem;
}

.lista__link a {
  color: var(--branco-principal);
  text-decoration: none;
  margin-left: 1rem;
}

.lista__link a:hover {
  color: var(--botao-azul);
}

.rodape__texto {
  font-size: 0.875rem;
  color: var(--cinza-segundario);
  margin: 1rem;
}
